.storeListSubHeader {
    display: flex;
    width: 80%;
    padding: 20px 5px 20px;
}
.storeListSubHeader h1 {
    flex: 2;
}

.storeListContainer {
    width: 80%;
    padding: 10px 5px 10px;
}
.StoreEntry {
    padding: 10px 5px 10px;
    margin-bottom: 20px;
    background-color: rgb(168, 205, 219);
    border-radius: 15px;
    height: 120px;
}
.StoreEntry div {
    display: flex;
    flex-direction: column;
}
.StoreEntryTitle {
    padding-bottom: 15px;
}
.StoreEntryDetailRow {
    font-size: 20px;
    display: flex;
    flex-direction: row !important;
}
.StoreEntryDetailRow p {
    padding-right: 10px;
}